@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100;1,400&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.unlink {
    text-decoration: none;
    transition: all .5s ease-in;
}

.unlink:link {
    color: #fff;
}

.unlink:visited {
    color: #fff;
}

.unlink:hover {
    color: #834802;
}



